.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: Roboto;
}

html {
  scroll-behavior: smooth;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border: #ececec solid 2px;
}
.header__conteiner {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #212121;
}
.header__alogo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  animation-name: alogo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.header__list {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-right: auto;
}
.header__alogo {
  display: block;
  margin-right: 93px;
}
.header__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link::after {
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
  position: absolute;
  bottom: -34px;
  display: block;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}
.header__link:hover::after {
  opacity: 1;
  transform: scale(1);
}
.header__link:hover {
  color: #2196f3;
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__contact {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__icon {
  width: 16px;
  height: 12px;
  flex-shrink: 0;
  margin-right: 10px;
  display: flex;
}
.header__icon:hover {
  fill: #2196f3;
}
.header__linkk {
  color: #7c7272;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-delay: 2s; */
}
.header__linkk:hover svg {
  fill: #2196f3;
}
.header__linkk:hover {
  color: #2196f3;
}

.welcome {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroundim.webp);
}
.welcome__title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.welcome__button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  animation-name: welcome-button;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.welcome__conteiner {
  display: block;
  align-items: center;
}
.welcome__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 216px;
  height: 50px;
  margin-top: 30px;
}

.quality {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.quality__title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.quality__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.quality__list {
  display: flex;
  gap: 30px;
}
.quality__item:nth-child(1)::before {
  content: " ";
  background-color: #f5f4fa;
  background-image: url(../images/antenna.png);
  width: 270px;
  height: 120px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  margin-bottom: 30px;
}
.quality__item {
  width: 270px;
  display: flex;
  flex-direction: column;
}
.quality__item:nth-child(2)::before {
  content: " ";
  background-color: #f5f4fa;
  background-image: url(../images/clock.png);
  width: 270px;
  height: 120px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  margin-bottom: 30px;
}
.quality__item:nth-child(3)::before {
  content: " ";
  background-color: #f5f4fa;
  background-image: url(../images/diagram.png);
  width: 270px;
  height: 120px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  margin-bottom: 30px;
}
.quality__item:nth-child(4)::before {
  content: " ";
  background-color: #f5f4fa;
  background-image: url(../images/astronaut.png);
  width: 270px;
  height: 120px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  margin-bottom: 30px;
}

.services {
  padding-bottom: 94px;
}
.services__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.services__list {
  display: flex;
  gap: 30px;
}
.services__item {
  position: relative;
}
.services__paragraf {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  position: absolute;
}
.services__box {
  bottom: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.team__icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #afb1b8;
  margin: 12px;
  justify-content: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__box {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team__icon:hover {
  fill: #ffffff;
}
.team__link {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  transition-property: background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link .team__icon:hover {
  background-color: #2196f3;
  border-radius: 50%;
}
.team__icon :hover {
  background-color: #2196f3;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.team__bigtitle {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-top: 94px;
  padding-bottom: 50px;
}
.team__title {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.team__text {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.team__list {
  display: flex;
  padding-bottom: 94px;
  gap: 30px;
}
.team__-bigtitle {
  padding-top: 94px;
  padding-bottom: 50px;
}
.team__tittle {
  margin-top: 30px;
  text-align: center;
}
.team__item {
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #eee;
  background: #fff;
  padding-bottom: 42px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team__item:nth-child(1n) {
  animation-name: team-item1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.team__item:nth-child(2n) {
  animation-name: team-item2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.team__tittle {
  margin-top: 30px;
}
.team__text {
  margin-top: 10px;
  padding-bottom: 30px;
}

.regular {
  background: #fff;
  margin-bottom: 94px;
}
.regular__text {
  padding-top: 94px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.regular__icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  flex-shrink: 0;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: regular-icon;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.regular__link {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.regular__link:hover {
  border-radius: 4px;
  border: 1px solid #2196f3;
}
.regular__link:hover svg {
  fill: #2196f3;
}
.regular__list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  margin-left: 400px;
}
.regular__icon:hover {
  fill: #2196f3;
}

.footer {
  padding-top: 72px;
}
.footer__logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer__partlogo {
  color: #fff;
}
.footer__adress {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer__contacs {
  background-color: #2f303a;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__linkin {
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__linkin:hover {
  background-color: #2196f3;
}
.footer__icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #ffffff;
}
.footer__box {
  display: flex;
  gap: 70px;
}
.footer__label {
  display: flex;
  gap: 12px;
}
.footer__block {
  display: flex;
  gap: 10px;
}
.footer__paragraf {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.footer__form {
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}
.footer__button {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.footer__logo {
  display: block;
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}
.footer__partlogo {
  color: #fff;
}
.footer__adress {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  animation-timing-function: -cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: opacity visibility;
}

.modal {
  width: 528px;
  height: 581px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 221px;
  left: 536px;
  padding: 40px;
}
.modal__buttone {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__text {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal__paragraf {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  width: 41px;
  margin-bottom: 4px;
}
.modal__forms {
  width: 448px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__forms.modal-svg:hover {
  fill: #2196f3;
}
.modal__svg:hover {
  fill: #2196f3;
}
.modal__forms:hover {
  border-radius: 4px;
  border: 1px solid #2196f3;
}
.modal__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}
.modal__forms2 {
  width: 448px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-bottom: 94px;
  padding-left: 16;
  padding-top: 12px;
}
.modal__button {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-bottom: 30px;
}
.modal__box {
  display: flex;
  padding-right: 12px;
  padding-left: 12px;
}
.modal__box2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.modal__svg {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 29px;
  fill: #212121;
}
.modal__item {
  position: relative;
}
.modal__chexbox {
  margin-right: 10px;
}
.modal__forms2 {
  margin-bottom: 20px;
}
.modal__link {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}
.modal__inf {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.modal__box {
  margin-left: 93px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}

@keyframes welcome-button {
  0% {
    transform: scale(1, 1);
  }
  15% {
    transform: scale(1.8, 1.8);
  }
  40% {
    transform: scale(1.8, 1.8);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes team-item1 {
  0% {
    transform: translateY(0px);
  }
  5% {
    transform: translateY(30px);
  }
  10% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-30px);
  }
  20% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes team-item2 {
  0% {
    transform: translateY(0px);
  }
  5% {
    transform: translateY(-30px);
  }
  10% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(30px);
  }
  20% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
.team {
  background: #f5f4fa;
}

@keyframes regular-icon {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(80deg);
  }
  50% {
    transform: rotate(140deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */