body {
  font-family: Roboto;
}
.logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header-logo {
  color: #212121;
}
.header-linkk {
  color: #7c7272;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: flex;
}
.header-linkk:hover svg {
  fill: #2196f3;
}
.header-icon {
  width: 16px;
  height: 12px;
  flex-shrink: 0;
  margin-right: 10px;
  display: flex;
}
.header-icon:hover {
  fill: #2196f3;
}

.header-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
}
.header-link::after{
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
  position: absolute;
  bottom: -34px;
  display: block;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transform: scale(0);

}
.header-link:hover::after{
opacity: 1;
transform: scale(1);
}

.header-link:hover {
  color: #2196f3;
}
.header-linkk:hover {
  color: #2196f3;
}

.welcome-title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.welcome-button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.quality-title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.quality-text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.services-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.team-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #afb1b8;
  margin: 12px;
  justify-content: center;
}
.team-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-icon:hover {
  fill: #ffffff;
}
.team-link:hover {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  background-color: #2196f3;
  border-radius: 50%;
}
.team-icon :hover {
  background-color: #2196f3;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.team-bigtitle {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.team-title {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team-text {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.footer-logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer-partlogo {
  color: #fff;
}
.footer-adress {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer-contacs {
  background-color: #2f303a;
}
.footer-linkin {
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-linkin:hover {
  background-color: #2196f3;
}
.footer-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #ffffff;
}
.footer-box {
  display: flex;
  gap: 70px;
}
.footer-label {
  display: flex;
  gap: 12px;
}
.footer-block {
  display: flex;
  gap: 10px;
}
.footer-paragraf {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.Footer-form {
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}
.footer-button {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.form-box {
  margin-left: 93px;
}
.footer {
  padding-top: 72px;
}
.welcome {
  background-color: #2f303a;
}
.header-list {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-right: auto;
}
.header-contacts {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header-contact {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header-conteiner {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  margin-right: 93px;
}
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.quality-list {
  display: flex;
  gap: 30px;
}
.welcome {
  padding-top: 200px;
  padding-bottom: 200px;
}
.services-list {
  display: flex;
  gap: 30px;
}
.welcome-conteiner {
  display: block;
  align-items: center;
}
.team-list {
  display: flex;
}
.welcome-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 216px;
  height: 50px;
  margin-top: 30px;
}
.quality {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.quality-item:nth-child(1)::before {
  content: " ";
  background-color: #f5f4fa;
  background-image: url(../images/antenna.png);
  width: 270px;
  height: 120px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  margin-bottom: 30px;
}
.quality-item {
  width: 270px;
  display: flex;
  flex-direction: column;
}
.quality-item:nth-child(2)::before {
  content: " ";
  background-color: #f5f4fa;
  background-image: url(../images/clock.png);
  width: 270px;
  height: 120px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  margin-bottom: 30px;
}
.quality-item:nth-child(3)::before {
  content: " ";
  background-color: #f5f4fa;
  background-image: url(../images/diagram.png);
  width: 270px;
  height: 120px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  margin-bottom: 30px;
}
.quality-item:nth-child(4)::before {
  content: " ";
  background-color: #f5f4fa;
  background-image: url(../images/astronaut.png);
  width: 270px;
  height: 120px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  margin-bottom: 30px;
}
.services-title {
  margin-bottom: 50px;
}

.team-bigtitle {
  padding-top: 94px;
  padding-bottom: 50px;
}
.team-list {
  padding-bottom: 94px;
}

.team-tittle {
  margin-top: 30px;
  text-align: center;
}
.team-list {
  gap: 30px;
}
.services {
  padding-bottom: 94px;
}
body {
  font-family: Roboto;
}

.kinds-button:hover {
  color: #fff;

  background: #2196f3;

  /* shadow-middle */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.kinds-button {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;

  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-top: 6px;
  border-radius: 4px;
  background: #f5f4fa;
}

.ourworks-maintext {
  color: hsl(0, 0%, 13%);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
}
.ourworks-text {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
}
.footer-logo {
  display: block;
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}
.footer-partlogo {
  color: #fff;
}
.footer-adress {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer-contacs {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.kinds-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.kinds {
  padding-top: 94px;
  padding-bottom: 56px;
}
.ourworks-item {
  width: 370px;
  border: 1px solid #eee;
  background: #fff;
  flex-basis: calc((100% - (30px * 2)) / 3);
}
.ourworks-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.ourworks {
  padding-bottom: 94px;
}
.ourworks-box {
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.team-item {
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #eee;
  background: #fff;
  padding-bottom: 42px;
}
.team-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-tittle {
  margin-top: 30px;
}
.team-text {
  margin-top: 10px;
  padding-bottom: 30px;
}
.ourworks-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid #eee;
  max-width: 370px;
  flex-basis: calc(100% - (30px * 2) / 3);
}
.header {
  border: #ececec solid 2px;
}
.kinds-button {
  border: none;
}
.welcome {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backgroundim.webp);
}
.team {
  background: #f5f4fa;
}
.regular-text {
  padding-top: 94px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.regular {
  background: #fff;
  margin-bottom: 94px;
}
.regular-icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  flex-shrink: 0;
}
.regular-link {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.regular-link:hover {
  border-radius: 4px;
  border: 1px solid #2196f3;
}
.regular-link:hover svg {
  fill: #2196f3;
}

.regular-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.regular-icon:hover {
  fill: #2196f3;
}

.servises-paragraf {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  position: absolute;
}
.services-item {
  position: relative;
}

.servises-box {
  bottom: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}
.backdrop {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
}
.modal {
  width: 528px;
  height: 581px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 221px;
  left: 536px;
  padding: 40px;
}

.modal-text {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal-paragraf {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  width: 41px;
  margin-bottom: 4px;
}
.modal-forms {
  width: 448px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
}
.modal-forms:hover modal-svg {
  fill: #2196f3;
}
.modal-svg:hover {
  fill: #2196f3;
}
.modal-forms:hover {
  border-radius: 4px;
  border: 1px solid #2196f3;
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}
.modal-forms2 {
  width: 448px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-bottom: 94px;
  padding-left: 16;
  padding-top: 12px;
}
.modal-button {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.modal-box {
  display: flex;
  padding-right: 12px;
  padding-left: 12px;
}
.modal-box2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.modal-svg {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 29px;
  fill: #212121;
}
.modal-item {
  position: relative;
}
.modal-chexbox {
  margin-right: 10px;
}
.modal-forms2 {
  margin-bottom: 20px;
}
.modal-link {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}
.modal-inf {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.modal-icon {
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}
.modal-buttone {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourworks-overley {
  width: 370px;
  height: 294px;
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  opacity: 0;
}
.ourworks-overley:hover {
  opacity: 1;
}
.ourworks-item {
  position: relative;
  overflow: hidden;
}
.overley-text {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
}

html {
  scroll-behavior: smooth;
}
