@mixin flexbox($align-vertical:center, $aling-gorizontal:center, $gap:0px, $wraping:nowrap) {
    display: flex;
    align-items:$align-vertical ;
    justify-content:$aling-gorizontal ;
    gap:$gap ;
    flex-wrap: $wraping;
}