.header {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width:1200px){
    padding-top: 24px;
    padding-bottom: 25px;
  }
  @media screen and (min-width:768px){
    padding-top: 26px;
    padding-bottom: 26px;
  }
  border: #ececec solid 2px;
  &__conteiner {
   display: flex;
  }
  &__menu {
    width: 40px;
    height: 40px;
    margin-left: 90px;
    @media screen and (min-width:1200px ) {
      display: none;
    }

  }
  &__logo {
    color: #212121;
  }
  &__alogo {
    color:#2196f3;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    animation-name: alogo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
   
    @media screen and (min-width:1200px) {
      font-size: 26px;
      letter-spacing: 0.78px;
      align-items: center;
      
    }

   
  }
  &__list {
   display: none;
   gap: 50px;
   justify-content: center;
   align-items: center;
    margin-right: auto;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
    }
  }
  &__alogo {
    display: block;
    margin-right: 93px;
  }

  &__link {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link::after {
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: #2196f3;
    opacity: 0;
    position: absolute;
    bottom: -34px;
    display: block;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0);
  }
  &__link:hover::after {
    opacity: 1;
    transform: scale(1);
  }

  &__link:hover {
    color: #2196f3;
  }
  &__contacts {
    display: none;
    gap: 50px;
    align-items: center;
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
  &__contact {
    display: flex;
    gap: 50px;
    
  }
  &__iccon {
    display: flex;
    border: none;
    width: 40px;
    height: 40px;
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
  &__button {
    background-color: transparent;
    width: 40px;
    height: 40px;
    margin-left: auto;
    @media screen and (min-width: 1328px) {
      display: none;
    }
  }
  &__navigation {
    display: none;
    @media screen and (min-width: 1328px) {
      display: none;
    }
  }

  &__icon {
    width: 16px;
    height: 12px;
    flex-shrink: 0;
    margin-right: 10px;
    display: flex;
  }
  &__icon:hover {
    fill: #2196f3;
  }

  &__linkk {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
   display: flex;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-delay: 2s; */
  }
  &__linkk:hover svg {
    fill: #2196f3;
  }

  &__linkk:hover {
    // локальна змінна
    $accent-color: skyblue;
    color: #2196f3;
  }
}
