.backdrop {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  animation-timing-function: -cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: opacity visibility;
}
.modal {
  width: 528px;
  height: 581px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 221px;
  left: 536px;
  padding: 40px;

  &__buttone {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.1);
    display: flex;
  }

  &__text {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
  }
  &__paragraf {
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    width: 41px;
    margin-bottom: 4px;
  }
  &__forms {
    width: 448px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__forms.modal-svg:hover {
    fill: #2196f3;
  }
  &__svg:hover {
    fill: #2196f3;
  }
  &__forms:hover {
    border-radius: 4px;
    border: 1px solid #2196f3;
  }

  &__list {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }
  &__forms2 {
    width: 448px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-bottom: 94px;
    padding-left: 16;
    padding-top: 12px;
  }
  &__button {
    @extend %button;
  }
  &__box {
    display: flex;
    padding-right: 12px;
    padding-left: 12px;
  }
  &__box2 {
    width: 100%;
    display: flex;
    margin-top: 30px;
  }
  &__svg {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 29px;
    fill: #212121;
  }
  &__item {
    position: relative;
  }
  &__chexbox {
    margin-right: 10px;
  }
  &__forms2 {
    margin-bottom: 20px;
  }
  &__link {
    color: #2196f3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
  }
  &__inf {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
  }

  &__box {
    margin-left: 93px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}
