.ourworks {
  padding-bottom: 94px;
  &__maintext {
    color: hsl(0, 0%, 13%);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 200% */
    letter-spacing: 1.08px;
  }
  &__text {
    color: $text-color;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.48px;
  }
  
  &__item {
    width: 370px;
    border: 1px solid #eee;
    @extend%background;
    flex-basis: calc((100% - (30px * 2)) / 3);
  }
  &__list {
    @include flexbox ($gap:30px,);
    
  }

  &__box {
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
  
  
  &__item:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid #eee;
    max-width: 370px;
    flex-basis: calc(100% - (30px * 2) / 3);
  }
  &__overley {
    width: 370px;
    height: 294px;
    position: absolute;
    background: $accent-color;
    top: 0;
    left: 0;
    opacity: 0;
    
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transform: translateY(100%);
  
  }
  &__overley:hover {
    opacity: 1;
  }
  &__mainoverley{
    position: relative;
    overflow: hidden;
  }
  &__item:hover .ourworks-overley {
    overflow: visible;
    transform: translateY(0%);
  
  }
  &__text {
    color: $aditional-color;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
  }

}
