
.regular {
 @extend%background;
  margin-bottom: 94px;
  &__text {
    padding-top: 94px;
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
  }
  
  &__icon {
    fill: $grey-color;
    width: 106px;
    height: 60px;
    flex-shrink: 0;
    transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      animation-name: regular-icon;
      animation-duration: 2s;
      animation-iteration-count: infinite;
  }
  &__link {
    border-radius: 4px;
    border: 1px solid $grey-color;
    width: 170px;
    height: 92px;
    flex-shrink: 0;
 @include flexbox();
    transition-property: border, border-radius;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover {
    border-radius: 4px;
    border: 1px solid $accent-color;
  }
  &__link:hover svg {
    fill: $accent-color;
  }
  
  &__list {
    @include flexbox ($gap:30px);
    margin-top: 50px;
    margin-left: 200px;
  }
  &__icon:hover {
    fill: $accent-color;
  }
}

  