.services {
  padding-bottom: 94px;
  &__title {
    color:$tittle-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  &__list {
    @include flexbox ($gap:30px);
  }


  &__item {
    position: relative;
  }
  &__paragraf {
    color: $aditional-color;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    position: absolute;
  }
  
  
  &__box {
    bottom: 0px;
    left: 0px;
    position: absolute;
    @mixin flexbox{};
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
  }
}

