.team{
  &__icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    fill:$grey-color;
    margin: 12px;
    justify-content: center;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__box {
   @include flexbox ($gap:10px)
  }
  
  &__icon:hover {
    fill: $aditional-color;
  }
  &__link{
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    transition-property: background-color, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link &__icon:hover {
  
    background-color: $accent-color;
    border-radius: 50%;
  }
  &__icon :hover {
    background-color: $accent-color;
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }
  &__bigtitle {
    color: $tittle-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    padding-top: 94px;
    padding-bottom: 50px;
  }
  &__title {
    color: $tittle-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
  }
  
  &__text {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
  }
  
&__list {
  @include flexbox ($gap:30px);
    padding-bottom: 94px;
  
  }
  
  &__-bigtitle {
    padding-top: 94px;
    padding-bottom: 50px;
  }

  
  &__tittle {
    margin-top: 30px;
    text-align: center;
  }
 
  &__item {
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #eee;
  @extend%background;
    padding-bottom: 42px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
    &__item:nth-child(1n){
   animation-name: team-item1;
   animation-duration: 3s;
   animation-iteration-count: infinite;
  
    }
    &__item:nth-child(2n){
      animation-name: team-item2;
   animation-duration: 3s;
   animation-iteration-count: infinite;
    }
    
  &__tittle {
    margin-top: 30px;
  }
  &__text {
    margin-top: 10px;
    padding-bottom: 30px;
  }
}

  