.welcome {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/backgroundim.webp);
      &__title {
        color: $aditionalmini-color;
        text-align: center;
        font-size: 44px;
        font-weight: 900;
        line-height: 60px; /* 136.364% */
        letter-spacing: 2.64px;
        text-transform: uppercase;
      }
      &__button {
        color:$aditionalmini-color;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px; /* 187.5% */
        letter-spacing: 0.96px;
        border-radius: 4px;
        background: #2196f3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        border: none;
        animation-name: welcome-button;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
    
      &__conteiner {
        display: block;
        align-items: center;
      }
      &__button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        width: 216px;
        height: 50px;
        margin-top: 30px;
      }
      
    }

  
  